body {
  text-align: center;
}

#start-over {
  display: none;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  width: 300px;
  padding: 10px;
  border-width: medium;
  border-color: #28a745;
  margin: 10px;
}

.level {
  font-weight: bold;
}

.success {
  color: #28a745;
}

.warning {
  color: #ffc107;
}

.danger {
  color: #dc3545;
}

#fish-card {
  display: none;
}

#chicken-card {
  display: none;
}

#end-game {
  display: none;
}
