body {
  text-align: center;
}

#start-over {
  display: none;
}

.btn {
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 300px;
  padding: 10px;
  border-width: medium;
  border-color: #28a745;
  margin: 10px;
}

#fish-card {
  display: none;
}

#chicken-card {
  display: none;
}

#end-game {
  display: none;
}
