body {
  text-align: center;
}

#start-over {
  display: none;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

h3 {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.feed-only {
  margin-top: 45px;
}

.card {
  width: 300px;
  height: 260px;
  padding: 10px;
  border-width: medium;
  border-color: #28a745;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.level {
  font-weight: bold;
}

.success {
  color: #28a745;
}

.warning {
  color: #ffc107;
}

.danger {
  color: #dc3545;
}

#fish-card {
  display: none;
  float: right;
}

#chicken-card {
  display: none;
  float: left;
}

#cow-card {
  display: none;
  float: right;
}

#dog-card {
  display: none;
  float: left;
}

#bear-card{
  display: none;

}

#end-game {
  display: none;
}
